/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


header {
    background-color: #000000;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-image: url("../header/header_1.png")
}

body {
    background-image: url("../header/body_1.png");
    background-size: 100% 100%;
    height: auto;
    background-color: #808080;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

div.col-md-4 {
    margin: auto;
    align-content: center;
    margin-left: 450px;
    color: #ffffff;
    text-align: left;
}

div.res {
    margin-left: auto;
    text-align: left;
    color: #ffffff;
}

.sliding-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

    .sliding-button:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
        transition: .8s cubic-bezier(.165, .84, .44, 1);
    }

    .sliding-button:hover {
        background: rgba(255, 255, 255, 0);
    }

        .sliding-button:hover:before {
            bottom: 0%;
            top: auto;
            height: 100%;
        }

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new_user {
    margin-left: 200px;
    margin-right: 800px;
    color: #000000;
}
       